---
import "@styles/global.css";

const { title, description, keywords, url, image } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"
    />
    <meta name="generator" content={Astro.generator} />

    <title>{title}</title>

    <!-- SEO -->
    <meta name="description" content={description} />
    <meta name="keywords" content={keywords} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <meta property="og:locale" content="en_US" />
    <meta property="og:image" content={image} />
    <link rel="canonical" href={url} />
    <!-- SEO -->
  </head>
  <body class="overflow-x-hidden scroll-smooth bg-neutral-950 text-white">
    <slot />
  </body>
</html>
